html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	box-sizing: border-box;
	min-height: 100vh;
	min-height: 100dvh;
	background-color: #091d60;
	color: white;
}

td {
	padding: 5px;
}

header {
	text-align: center;
	margin: 10px auto;
	width: 99%;
	font-weight: bold;
	font-size: 25px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	background-color: #173082;
	border-radius: 10px;
	outline: 1px solid #2646ad;
	padding-bottom: 10px;
}

main {
	border-radius: 10px;
	outline: 1px solid #2646ad;
	width: 99%;
	margin: 10px auto;
	background-color: #173082;
}

footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
	padding: 10px 0;
}