html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh; 
    box-sizing: border-box;
}

td {
    padding: 5px;
}

header {
	margin-bottom: 10px;
	font-weight: bold;
	font-size: 25px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	color: white;
	background-color: #091d60;
}